
.animate-flasher
  opacity: 0
  -webkit-animation: flasher 5.15s infinite
  animation: flasher 5.15s infinite
  -moz-animation: flasher 5.15s infinite

@-webkit-keyframes flasher
  0%
    opacity: 0
  2%
    opacity: 1
  4%
    opacity: 0
  100%
    opacity: 0

@-moz-keyframes flasher
  0%
    opacity: 0
  2%
    opacity: 1
  4%
    opacity: 0
  100%
    opacity: 0

@keyframes flasher
  0%
    opacity: 0
  2%
    opacity: 1
  4%
    opacity: 0
  100%
    opacity: 0


.animate-swing
  +animation(swing 2.15s infinite)

+keyframes(swing)
  0%
    +rotate(0)
    +translate(0, 0)

  50%
    +rotate(2deg)
    +translate(5px,-5px)

  100%
    +rotate(0)
    +translate(0, 0)


@media screen and (min-width: $media-md)


  // .animate-scale
  //   +animation(scale 1s ease-in-out)
  //   +apply-origin(45%, 45%)

  // +keyframes(scale)
  //   from
  //     +scale(.1)
  //   to
  //     +scale(1)


  // .animate-left
  //   +animation(posLeft 1s ease-in-out)

  // .animate-left-2
  //   +animation(posLeft .7s ease-in-out)

  // +keyframes(posLeft)
  //   from
  //     +translate(-1000%, 0)
  //   to
  //     +translate(0, 0)


  // .animate-right
  //   +animation(posRight .7s ease-in-out)

  // .animate-right-2
  //   +animation(posRight 1s ease-in-out)

  // +keyframes(posRight)
  //   from
  //     +translate(1500%, 0)
  //   to
  //     +translate(0, 0)


  // .animate-bottom
  //   +animation(posBottom .35s ease-in-out)

  // .animate-bottom-2
  //   +animation(posBottom .45s ease-in-out)

  // .animate-bottom-3
  //   +animation(posBottom .55s ease-in-out)

  // .animate-bottom-4
  //   +animation(posBottom .65s ease-in-out)

  // .animate-bottom-5
  //   +animation(posBottom .75s ease-in-out)

  // .animate-bottom-6
  //   +animation(posBottom .85s ease-in-out)

  // .animate-bottom-7
  //   +animation(posBottom .95s ease-in-out)

  // .animate-bottom-8
  //   +animation(posBottom 1.05s ease-in-out)

  // .animate-bottom-9
  //   +animation(posBottom 1.15s ease-in-out)

  // +keyframes(posBottom)
  //   from
  //     +translate(25px,122px)
  //   to
  //     +translate(0, 0)
