.area-top
  background: url(../images/header-mobile.jpg) no-repeat 0 bottom #080808
  background-size: 100%
  padding-bottom: 40px
  text-align: center
  min-height: 420px
  padding-top: 200px
  text-transform: uppercase

  .date
    color: #fff
    font-size: 2.4rem
    font-weight: 700

  .title
    margin-top: 5px
    padding-top: 0


.btn-send
  +single-transition(all, .5s)
  +translate(0, 0)
  position: absolute
  top: 250px
  left: 50%
  top: 330px
  margin-left: -90px
  z-index: 12

  .menu-visible &
    +single-transition(all, .5s)
    +translate(250px, 0)

.logo
  +single-transition(all, .5s)
  +translate(0, 0)
  height: 240px
  width: 305px
  left: 50%
  margin-left: -153px
  position: absolute
  top: 0
  z-index: 12

  .menu-visible &
    +single-transition(all, .5s)
    +translate(250px, 0)

.ico-menu
  +single-transition(all, .5s)
  +translate(0, 0)
  display: block
  padding-left: 1.25em
  text-indent: -99999px
  height: 50px
  width: 50px
  position: fixed
  top: 10px
  left: 8px
  z-index: 21

  .menu-visible &
    +single-transition(all, .5s)
    +translate(250px, 0)

  &:before
    content: ""
    position: absolute
    left: 5%
    top: 1.5rem
    width: 3rem
    height: 0.16em
    background: #ccc
    box-shadow: 0 1.8rem 0 0 #ccc, 0 .9rem 0 0 #ccc
    font-size: 24px



@media screen and (min-width: 992px)

  .area-top
    background: url(../images/header-md.jpg) no-repeat 0 bottom #030102
    background-size: 100%
    min-height: 500px
    position: relative
    padding-top: 0

    &:before
      content: ""
      background-color: rgba(0,0,0,.8)
      height: 115px
      position: absolute
      bottom: 0
      left: 0
      width: 100%

    .info-main
      bottom: 0
      left: 0
      position: absolute
      width: 100%

      .date
        display: inline-block
        font-size: 3rem
        margin-right: 80px
        position: relative
        top: -5px

      .title
        display: inline-block
        position: relative

        &:before,
        &:after
          content: ""
          border-bottom: 4px double #ba272c
          width: 50px
          top: 25px
          height: 2px
          position: absolute

        &:before
          left: -65px

        &:after
          right: -65px


  .area-fixed
    position: fixed
    z-index: 11
    width: 100%

    .menu-fixed &
      height: 90px
      background: rgba(0,0,0,.8)


  .btn-send
    +single-transition(all, .5s)
    margin: 0
    position: fixed
    top: 70px
    right: 40px
    left: auto
    padding: 10px 30px

    .menu-fixed &
      top: 20px

  .ico-menu
    display: none

  .logo
    +single-transition(all, .7s)
    height: 90%
    left: 50%
    margin-left: -25%
    position: absolute
    pointer-events: none
    top: -30px
    width: 50%
    z-index: 15

    .menu-fixed &
      +single-transition(all, .7s)
      height: 240px
      left: 5%
      margin-left: 0
      position: fixed
      width: 175px
      top: -75px


@media screen and (min-width: 1500px)

  .area-menu li a
    font-size: 2.4rem

