@media screen and (min-width: 992px)
  .area-intro
    +single-transition(all, .85s)
    +simple-transform(5, 45deg)
    position: fixed
    height: 100%
    width: 100%
    left: 0
    z-index: 13

    .menu-fixed &
      +single-transition(all, .85s)
      pointer-events: none

    &:before,
    &:after
      content: ""
      background: #fff
      position: absolute
      top: 0
      height: 100%
      width: 51%
      z-index: 12

    &:before
      +single-transition(all, .85s)
      left: 0

      .menu-fixed &
        +single-transition(all, .85s)
        +translate(-100%, 0)

    &:after
      +single-transition(all, .85s)
      right: 0

      .menu-fixed &
        +single-transition(all, .85s)
        +translate(100%, 0)

