<section id="area-contact">
  <div class="container">
    <h2 class="title">Contato</h2>
    <h3 class="sub-title">Quer patrocinar? Dúvidas? Sugestões? <br>Escreva pra gente</h3>
    <a href="mailto:frontinsampa@gmail.com">frontinsampa@gmail.com</a>
	<h3 class="sub-title">Acompanhe o FRONTINSAMPA através das redes sociais:</h3>
	<p>
	    <span>
	      <a href="https://www.facebook.com/frontinsampa" target="_blank" title="Ir para a página do facebook do frontinsampa">
	      	<%= image_tag 'icone-facebook.png', alt: 'Icone Facebook' %>
	      </a>
	    </span>
	    <span>
	      <a href="http://twitter.com/frontinsp" target="_blank" title="Ir para a página do twitter do frontinsampa">
	      	<%= image_tag 'icone-twitter.png', alt: 'Icone Twitter' %>
	      </a>
	    </span>
	    <span>
	      <a href="http://instagram.com/frontinsampa" target="_blank" title="Ir para a página do instagram do frontinsampa">
	      	<%= image_tag 'icone-instagram.png', alt: 'Icone Instagram' %>
	      </a>
	    </span>
    </p>

  </div>
</section>
