<section class="area-local">
  <div class="container">
    <h2 class="title">Local</h2>
    <p>Rua Augusta, 501</p>
    <p>Consolação, São Paulo</p>
    <a href="" class="btn-dark" target="_blank">Ver no google maps</a>
  </div>
</section>
