<header class="area-top">
  <div class="container">
    <div class="info-main">
    <h2 class="subtitle">O maior <strong>evento de Front-end</strong> de São Paulo</h2>
      <h3 class="title">Despedida do inferno Club</h3>
      <small class="info">21/Novembro - Rua Augusta, 501 - SP</small>
    </div>
  </div>
</header>
