<section id="palestrantes">
  <div class="container">
    <h2 class="title">Palestrantes</h2>

    <ul class="speakers">
      <li>
        <a href="">
          <figure>
            <img  src="<%= base_url %>images/speaker.jpg" alt="">
            <figcaption>Edu Agni</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img  src="<%= base_url %>images/speaker.jpg" alt="">
            <figcaption>Ivan Banov</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img  src="<%= base_url %>images/speaker.jpg" alt="">
            <figcaption>Alexandre Gaigalas <small>(@alganet)</small></figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</section>
