<section id="area-local">
  <div class="container">
    <h2 class="title">Local</h2>
    <p>Rua Augusta, 501</p>
    <p>Consolação, São Paulo</p>
    <a href="https://www.google.com.br/maps/place/R.+Augusta,+501+-+Consola%C3%A7%C3%A3o,+S%C3%A3o+Paulo+-+SP/@-23.5515095,-46.650643,17z/data=!3m1!4b1!4m2!3m1!1s0x94ce584a87db01ed:0x8984cc59b6df5141"  class="btn-dark" target="_blank">Ver no google maps</a>
  </div>
</section>
