<section id="area-contact">
  <div class="container">
    <h2 class="title">Contato</h2>
    <h3 class="sub-title">Quer patrocinar? Escreva pra gente</h3>
    <a href="mailto:frontinsampa@gmail.com">frontinsampa@gmail.com</a>
  </div>
</section>
