<section id="area-info">
  <div class="container">
    <h2 class="title-info">Aprender, compartilhar<span>e se divertir</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</section>
