<span class="area-intro"></span>

<%= partial 'partials/_logo' %>

<span class="ico-menu" aria-label="Menu do site"></span>

<div class="area-fixed"></div>
<ul class="area-menu">
  <li class="show-mobile"><a role="menuitem" href="http://www.eventick.com.br/frontinsampa2014">Inscrição</a></li>
  <li><a role="menuitem" href="#area-timeline">Palestras</a></li>
  <li><a role="menuitem" href="#area-description">Sobre</a></li>
  <li><a role="menuitem" href="#area-local">Local</a></li>
  <li><a role="menuitem" href="#area-sponsor">Patrocínio</a></li>
  <li><a role="menuitem" href="#area-contact">Contato</a></li>
</ul>
<a href="http://www.eventick.com.br/frontinsampa2014" role="button" class="btn-send">Inscreva-se</a>
