<span class="area-intro"></span>
<%= partial 'partials/_logo' %>

<span class="ico-menu" aria-label="Menu do site"></span>

<div class="area-fixed"></div>
<ul class="area-menu">
  <li><a aria-label="Faça sua inscrição para o frontinsampa" role="menuitem" href="http://www.eventick.com.br/frontinsampa2015">Inscrição</a></li>
  <li><a aria-label="Confira a programação do frontinsampa" role="menuitem" href="#area-timeline">Programação</a></li>
  <li><a aria-label="Saiba mais sobre o evento Frontinsampa" role="menuitem" href="#area-description">Sobre</a></li>
  <li><a aria-label="Descubra o Local do evento" role="menuitem" href="#area-local">Local</a></li>
  <!-- <li><a aria-label="Conheça nossos patrocinadores" role="menuitem" href="#area-sponsor">Patrocinadores</a></li> -->
  <li><a aria-label="Envia sua proposta de palestra pra organização analisar" role="menuitem" target="_blank" href="https://docs.google.com/forms/d/1UMye3btm6HrkOpMKsy7Rg7Qg-wNUmh4CbWF-JS2OgqY/viewform?c=0&w=1">Call4papers</a></li>
  <li><a aria-label="Entre em contato com a organização" role="menuitem" href="#area-contact">Contato</a></li>
</ul>
<a href="http://www.eventick.com.br/frontinsampa2015" aria-label="Faça sua inscrição para o frontinsampa" role="button" class="btn-send">Inscreva-se</a>
