<nav class="area-menu">
  <li><a href="#spearker">Palestras</a></li>
  <li><a href="#info">Sobre</a></li>
  <li><a href="#local">Local</a></li>
  <li><a href="#sponsor">Patrocínio</a></li>
  <li><a href="#contact">Contato</a></li>
</nav>
