<section id="local" itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
  <div class="container">
    <h2 class="title">Local</h2>
    <p itemprop="streetAddress">Colégio Maria Imaculada</p>
    <p itemprop="addressLocality">Av. Bernardino de Campos, 79 <br><small>(continuação da Av. Paulista, ao lado do Shopping Paulista)</small></p>
    <a href="https://www.google.com.br/maps/place/Av.+Bernardino+de+Campos,+79+-+Para%C3%ADso,+S%C3%A3o+Paulo+-+SP,+04004-041/@-23.5719646,-46.6453897,17z/data=!3m1!4b1!4m2!3m1!1s0x94ce5997bb190aab:0xc6fae0414cd01b64?hl=pt-BR" role="button" aria-label="Conheça a localização do Frontinsampa no Google Maps"  class="btn-dark" target="_blank">Ver no google maps</a>
  </div>
</section>
