<nav class="area-menu">
  <li><a href="">Palestras</a></li>
  <li><a href="">Sobre</a></li>
  <li><a href="">Local</a></li>
  <li><a href="">Patrocínio</a></li>
  <li><a href="">Contato</a></li>
</nav>
