<section id="area-sponsor">
  <div class="container">
    <h2 class="title-sponsor">Patrocinadores</h2>
    <h3 class="sub-title">Diamante</h3>
    <a href=""><img src="" alt=""></a>
    <h3 class="sub-title">Gold</h3>
    <h3 class="sub-title">Prata</h3>
    <h3 class="sub-title">Bronze</h3>

    <h2 class="title-sponsor">Apoio</h2>
    <ul>
        <li>
        	<a href="http://www.eventick.com.br" target="_blank">
        		<img src="#" alt="Eventick apoia o Frontinsampa">
        	</a>
        </li>
        <li>
        	<a href="http://www.imasters.com.br/" target="_blank">
        		<img src="#" alt="iMasters apoia o Frontinsampa">
        	</a>
        </li>
        <li>
        	<a href="http://eucompraria.com.br/" target="_blank">
        		<img src="#" alt="Eu compraia apoia o Frontinsampa">
        	</a>
        </li>
        <li>
        	<a href="https://www.facebook.com/caravanaweb" target="_blank">
        		<img src="#" alt="CaravanaWeb apoia o Frontinsampa">
        	</a>
        </li>
        <!-- se tiver mais alguem que vc lembre... -->
	</ul>
  </div>
</section>
