<section id="area-timeline">
  <div class="container">
    <h2 class="title">Programação</h2>

    <ul class="list-timeline">
      <li>
        <h3 class="talk-time">8:00 - 9:00</h3>
        <h4 class="sub-title">Credenciamento</h4>
        <p>Não esqueça de trazer seu RG.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'sergio-lopes.jpg', alt: 'Imagem do Palestrante - Sergio Lopes da Caelum' %>
          <h3 class="sub-title">Sergio Lopes</h3>
          <p class="hide-mobile" itemprop="jobtitle">Instrutor e desenvolvedor na Caelum e no Alura</p>
          <a itemprop="url" href="https://twitter.com/sergio_caelum" class="hide-mobile" target="_blank"><strong>twitter.com/sergio_caelum</strong></a>
          <p class="hide-mobile"></p>
        </div>
        <h3 class="talk-time">9:00- 9:40</h3>
        <h4 class="sub-title">Palestra a definir</h4>
        <p class="hide-mobile">Programa há 16 anos e é apaixonado pela Web. Foca hoje em Front-end, especialmente responsivo e mobile. Dá muitas aulas na área, está sempre nos eventos de front e bloga bastante. Já lançou alguns livros pela editora Casa do Código, sendo "A Web Mobile" sua obra-prima.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'speaker.jpg', alt: 'image fake de um palestrante' %>
          <h3 class="sub-title">Palestrante</h3>
          <p class="hide-mobile" itemprop="jobtitle">Bio do palestrante</p>
          <a itemprop="url" href="http://twitter.com/cironunesdev" class="hide-mobile" target="_blank">@urldopalestrante</a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Palestra</h4>
        <p class="hide-mobile">Descrição da palestra</p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'party.jpg', alt: 'Imagem de um Dj tocando na festa do Frontinsampa' %>
          <h3 class="sub-title">Festa</h3>
          <p class="hide-mobile" itemprop="jobtitle">Descrição</p>
        </div>
        <h3 class="talk-time">19:40 - 21:30</h3>
        <p>Happy Networking Hour com Dj e Open Bar</p>
      </li>
    </ul>
    <p>Horários e ordem das apresentações poderão ser alterados até a data do evento!</p>
  </div>
</section>
