<section id="area-description">
  <div class="container">
    <h2 class="title">Sobre o Evento</h2>
    <h3 class="sub-title">Em 2014, pretendemos realizar a 3ª edição o Frontisampa, que será um mix das versões anteriores.</h3>
    <a href="" class="btn">2012</a>
    <a href="" class="btn">2013</a>
    <p>Após o sucesso inicial, inovamos ao realizar,no ano passado, a segunda edição que se
tornou o primeiro encontro “FrontEnd” mem uma balada, o Inferno Club.</p>
    <p>Localizado na Augusta, uma das ruas mais descoladas da noite paulistana, o espaço contou com 250 participantes.
Todos puderam acompanhar as principais tendências abordadas por grandes desenvolvedores/palestrantes
do Brasil e ainda conferir a participação internacional de Lea Verou, da Grécia, com a palestra
"O humilde border-radius".</p>
    <p>Ao final, o super happy-hour-networking, com direito a DJ, snacks e uns bons drinks.</p>

  </div>
</section>
