<nav class="area-menu">
  <li><a href="#area-timeline">Palestras</a></li>
  <li><a href="#area-info">Sobre</a></li>
  <li><a href="#area-local">Local</a></li>
  <li><a href="#area-sponsor">Patrocínio</a></li>
  <li><a href="#area-contact">Contato</a></li>
</nav>
