<section id="sobre">
  <div class="container">
    <h2 class="title">Sobre o Frontinsampa</h2>
    <h3 class="sub-title">2016 – Frontinsampa irá do Inferno ao Paraíso</h3>
    <br><br>
    <p>Quem já participou das quatro primeiras edições do Frontinsampa sabe que ano a ano o evento cresce, não é verdade? Para acompanhar essa evolução e receber palestrantes e participantes, a 5ª edição do evento será realizada em um novo endereço... O Frontinsampa 2016 será realizado no Colégio Maria Imaculada, na Av. Bernardino de Campos, no bairro do Paraíso, em São Paulo. Nos anos anteriores, o evento aconteceu na casa de shows Inferno, na Rua Augusta.</p>

    <p>Além da mudança de endereço, novos palestrantes também irão se apresentar no
Frontinsampa 2016! O que não mudará no evento deste ano é o espírito do evento...<br>
  Conteúdo relevante e atualizado, bate-papo com profissionais da área, networking e aquele pós-evento que ninguém quer perder.</p>

  <br><br>
    <h3 class="sub-title">Para esquentar o ambiente até o Frontinsampa 2016, veja o que rolou nas edições anteriores.</h3>

    <a href="http://frontinsampa.com.br/2012/" class="btn">2012</a>
    <a href="http://frontinsampa.com.br/2013/" class="btn">2013</a>
    <a href="http://frontinsampa.com.br/2014/" class="btn">2014</a>
    <a href="http://frontinsampa.com.br/2015/" class="btn">2015</a>

  </div>
</section>



