<span class="area-intro"></span>

<%= partial 'partials/_logo' %>

<span class="ico-menu" aria-label="Menu do site">Menu</span>

<div class="area-fixed">
  <ul class="area-menu">
    <li><a href="#area-timeline">Palestras</a></li>
    <li><a href="#area-description">Sobre</a></li>
    <li><a href="#area-local">Local</a></li>
    <li><a href="#area-sponsor">Patrocínio</a></li>
    <li><a href="#area-contact">Contato</a></li>
  </ul>
  <a href="http://www.eventick.com.br/frontinsampa2014" class="btn-send">Inscreva-se</a>
</div>
