<section id="area-footer">
  <div class="container">
    <p>&copy; copyright 2015 - Todos os direitos reservados</p>
    <p>
      Design <a href="https://twitter.com/_diogorodrigues" target="_blank">@_diogorodrigues</a> |
      Desenvolvimento <a href="https://twitter.com/deividmarques" target="_blank">@deividmarques</a>
    </p>
  </div>
</section>
