<section id="area-sponsor">
  <div class="container">
    <h2 class="title-sponsor">Patrocinadores</h2>
    <h3 class="sub-title">Diamante</h3>
    <a href=""><img src="" alt=""></a>
    <h3 class="sub-title">Gold</h3>
    <h3 class="sub-title">Prata</h3>
    <h3 class="sub-title">Bronze</h3>
  </div>
</section>
