<span class="area-intro"></span>
<%= partial 'partials/_logo' %>

<span class="ico-menu" aria-label="Menu do site"></span>

<div class="area-fixed"></div>
<ul class="area-menu">
  <li><a aria-label="Faça sua inscrição para para a 5ª edição do Frontinsampa" role="menuitem" href="http://www.eventick.com.br/frontinsampa-2016">Inscrição</a></li>
  <li><a aria-label="Confira a programação do frontinsampa" role="menuitem" href="#palestrantes">Palestrantes</a></li>
  <li><a aria-label="Saiba mais sobre o evento Frontinsampa" role="menuitem" href="#sobre">Sobre</a></li>
  <li><a aria-label="Descubra o Local do evento" role="menuitem" href="#local">Local</a></li>
  <li><a aria-label="Conheça nossos patrocinadores" role="menuitem" href="#patrocinadores">Patrocinadores</a></li>
  <li><a aria-label="Entre em contato com a organização" role="menuitem" href="#contato">Contato</a></li>
</ul>
  <a href="http://www.eventick.com.br/frontinsampa-2016" aria-label="Faça sua inscrição para a 5ª edição do Frontinsampa " role="button" class="btn-send">Inscreva-se</a>
