<section class="area-speakers">
  <div class="container">
    <h2 class="title">Palestrantes</h2>
    <ul class="list-speakers">
      <%- 5.times do |num| %>
      <li>
        <figure>
          <img src="<%= base_url %>/<%= images_dir %>/speaker.jpg" alt="Speaker demo">
          <figcaption>Deivid Marques</figcaption>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate similique minima quibusdam at tempora, in, quaerat exercitationem temporibus quas laboriosam cupiditate eum delectus incidunt, quis, sapiente cumque repellat dolorem sed. </p>
          <a href="" class="lnk-social" target="_blank">@deividmarques</a>
        </figure>
      </li>
      <% end %>
    </ul>
    <h2 class="title">Programação</h2>
  </div>
</section>

