<section id="area-description">
  <div class="container">
    <h2 class="title">Sobre o Frontinsampa</h2>
    <h3 class="sub-title">2015 será um mix das versões anteriores, não perca!</h3>
    <br><br>
    <p>Este ano quem participar do evento poderá conferir palestras, networking, expositores com itens relacionados, sorteio de brindes e a nossa já conhecida Party Hard com DJ e Open Bar. Nossa missão “APRENDER, COMPARTILHAR E SE DIVERTIR” é levada a sério em um dos principais eventos de tecnologia de sampa. </p>

    <p>Ah, precisa lembrar que o frontinsampa é realizado no Inferno Club, na Augusta? Imperdível!</p>

  <br><br>
    <h3 class="sub-title">Confira como foram os últimos eventos e já vá se preparando para a última edição do frontinsampa neste formato.</h3>

    <a href="http://frontinsampa.com.br/2012/" class="btn">2012</a>
    <a href="http://frontinsampa.com.br/2013/" class="btn">2013</a>
    <a href="http://frontinsampa.com.br/2014/" class="btn">2014</a>

  </div>
</section>



