<header class="area-top">
  <div class="container">
    <div class="info-main">
      <h2 class="date">3ª Edição - 25/Out</h2>
      <h3 class="title">No inferno Club</h3>
    </div>
  </div>
</header>
