<section id="area-description">
  <div class="container">
    <h2 class="title">Sobre o Frontinsampa</h2>
    <h3 class="sub-title">2014 será um mix das versões anteriores, não perca!</h3>

    <p>Após o sucesso inicial, inovamos ao realizar no ano passado a segunda edição do evento, que acabou se tornando o primeiro encontro “FrontEnd” dentro de uma balada, o Inferno Club na Augusta, uma das ruas mais descoladas da noite paulistana.</p>

    <p>Na ocasião, mais de 250 participantes puderam acompanhar as principais tendências abordadas por grandes desenvolvedores/palestrantes do Brasil, e ainda, conferir a participação internacional de Lea Verou, da Grécia, com a palestra "O humilde border-radius". No final do evento, o super happy-hour-networking, com direito a DJ, snacks e uns bons drinks.</p>

    <p>Boa notícia: este ano não será diferente! Quem for ao FrontInSampa poderá conferir bancadas especiais da “Novatec” vendendo livros e da “Eu Compraria” com camisetas e canecas. Ainda terá a presença VIP do Maujor, que irá autografar seus livros e tirar #selfie com o pessoal.</p>

    <h3 class="sub-title">Veja como foram as duas primeiras edições do frontinsampa</h3>

    <a href="http://frontinsampa.com.br/2012/" class="btn">2012</a>
    <a href="http://frontinsampa.com.br/2013/" class="btn">2013</a>

  </div>
</section>



