<section id="area-footer">
  <div class="container">
    <p>&copy; copyright 2012 - 2016 | Todos os direitos reservados</p>
    <p>
      Design <a href="https://twitter.com/_diogorodrigues" target="_blank">@_diogorodrigues</a> |
      Desenvolvimento <a href="https://twitter.com/deividmarques" target="_blank">@deividmarques</a>
    </p>
    <p>
     <a href="http://pt-br.confcodeofconduct.com/" target="_blank">Código de Conduta</a>

    </p>
  </div>
</section>
