<header class="area-top">
  <div class="container">
    <div class="info-main">

      <h2 class="subtitle">EVENTO PARA <strong>DESENVOLVEDORES FRONT-END</strong> EM SÃO PAULO</h2>
      <h3 class="title">STAIRWAY TO HEAVEN</h3>
    </div>
  </div>
</header>
