<nav class="area-menu">
  <li><a href="#area-timeline">Palestras</a></li>
  <li><a href="#area-info">Sobre</a></li>
  <li><a href="#area-local">Local</a></li>
  <li><a href="#area-sponsor">Patrocínio</a></li>
  <li><a href="#area-contact">Contato</a></li>
</nav>

<div class="area-fixed">
  <div class="container">
    <span class="ico-menu" aria-label="Menu do site">Menu</span>
    <a href="" class="btn-send">Inscreva-se</a>
    <%= partial 'partials/_logo' %>
  </div>
</div>
