<section id="area-contact">
  <div class="container">
    <h2 class="title">Contato</h2>
    <h3 class="sub-title">Quer patrocinar? Escreva pra gente</h3>
    <a href="mailto:frontinsampa@gmail.com">frontinsampa@gmail.com</a>
	<h3 class="sub-title">Acompanhe o FRONTINSAMPA através das redes sociais:</h3>
	<p>Facebook: <a href="https://www.facebook.com/frontinsampa" target="_blank">facebook.com/frontinsampa</a></p>
	<p>Twitter: <a href="http://twitter.com/frontinsp" target="_blank">@frontinsp</a></p>
	<p>Instagram: <a href="http://instagram.com/frontinsampa" target="_blank">instagram.com/frontinsampa</a></p>
	<!-- precisa colocar uma barra com share/like, igual tem nas versões anteriores -->
  </div>
</section>
